.custom-btn {
    width: 130px;
    height: 40px;
    color: #f7c605;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(244, 4, 232, 0.939),
     7px 7px 20px 0px rgba(211, 5, 252, 0.998),
     4px 4px 5px 0px rgba(250, 4, 4, 0.99);
    outline: none;
  }
  
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #000000;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #15f605;
    box-shadow:
     -1px -1px 5px 0px #8404c9,
     7px 7px 20px 0px rgba(2, 183, 255, 0.2),
     4px 4px 5px 0px rgba(6, 3, 154, 0.958);
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  