body {
    font-family: Arial, sans-serif;
    background-color: #aee0ff;
    margin: 0;
    padding: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 52px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  pre {
    display: block;
    padding: 10px;
    background-color: #f0ffe1;
    border-left: 3px solid #7cff58;
    overflow-x: auto;
  }
  
  code {
    font-size: 1.2em;
  }
  
  button {
    background-color: #616161;
    color: #fff;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #results {
    text-align: center;
    font-size:  50px;
  }

  .font {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }