.redbox {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
}

.red-box {
background-color: red;
padding: 20px;
border: 5px; solid red;
}

.my-image {
    border: 10px solid red;
    border-radius: 100%;
}

.flex {
    display: flex;
}

.reporter-image {
    width: 100%;
    
}