.redbox{
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10 px
 }

 .cyanbox {
  background-color:cyan;
  color:snow;
  padding: 10px;
  margin: 10px  
 }

 .lavenderbox {
  background-color:lavender;
  color:white;
  padding: 10px;
  margin: 10px;
 }
 

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}